{{ partial "head" . }}
{{ partial "nav" . }}
  <div class="mw6 center ph3 pv4">
    <h1 class="f2 lh-title b mt0 mb3">{{.Title}}</h1>
    <div class="flex justify-between grey-3">
      <p class="mt0">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
      <p class="mt0">Read in {{ .ReadingTime }} minutes</p>
    </div>
    <div class="cms mw6">
      <p class="mt0">{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
  </div>
{{ partial "footer" . }}
